body {
    background: #e7f6f2;
}
#card {
    width: 500px;
    height: 320px;
    background: rgb(44, 51, 51);
    background: linear-gradient(
        145deg,
        rgba(44, 51, 51, 1) 0%,
        rgba(57, 91, 100, 1) 100%
    );
    border-radius: 30px;
    font-family: "Play", sans-serif;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#model img {
    width: 90px;
}
#logo img {
    width: 50px;
}
#sensor img {
    width: 70px;
}
#number {
    color: #a5c9ca;
}
#model {
    float: right;
    margin-right: 20px;
    margin-top: -10px;
    filter: brightness(15);
}
#logo {
    width: 485px;
    padding-top: 17px;
    text-align: right;
}
#sensor {
    margin-left: 50px;
    margin-top: 30px;
}
#glare {
    background: linear-gradient(
        159deg,
        rgba(127, 127, 127, 1) 17%,
        rgba(57, 91, 100, 0) 100%
    );
    position: relative;
    width: 70px;
    height: 56px;
    margin-top: -67px;
    border-radius: 7px;
}
#number {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
}
#valid {
    color: #a5c9ca;
    margin-left: 20px;
}
#name {
    color: #a5c9ca;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 20px;
}
#shadow {
    width: 500px;
    height: 70px;
    will-change: transform;
    background: #a5c9ca;
    filter: blur(40px);
    position: absolute;
    top: 500px;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
}
