@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:wght@200;300;400;500;600&family=Satisfy&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.heading-primary {
    font-family: "Poiret One", cursive;
    font-size: 120px;
}

.cursive {
    font-family: "Satisfy", cursive;
}

.container {
    height: 100vh;
    overflow: hidden;
    padding: 100px 150px;
    position: relative;
}

.landing {
    background-color: #cbc2b9;

    display: flex;
    align-items: flex-start;
}

.landing .heading-primary {
    margin-left: -80px;
    position: relative;
    z-index: 1;
    margin-top: 60px;
    word-break: keep-all;
}

.book {
    background-image: url("images/book.jpg");
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 500px;
    width: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.book .title {
    position: absolute;
    font-size: 50px;
    left: 55%;
    top: 30%;
    transform: translate(-50%, -50%);
}

/* ! MAIN BTN */

.btn-container {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.btn {
    font-family: "Poiret One", cursive;
    letter-spacing: 1px;
    z-index: 9;
    background-color: transparent;
    border: 1px solid #91654a;
    box-sizing: border-box;
    color: #fff;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover,
.btn:active {
    outline: 0;
}

.btn:hover {
    background-color: transparent;
    cursor: pointer;
}

.btn:before {
    background-color: #91654a;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    width: 100%;
    z-index: -1;
    transition: filter 300ms ease-in;
}

.btn:hover:before {
    filter: brightness(0.88);
}

@media (min-width: 768px) {
    .btn {
        padding: 16px 32px;
    }
}

/* ----------------------- */
.needs_and_wants.container {
    background: #cbc2b9;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* .needs_and_wants .box {
    background-color: #fff;
    padding: 20px;
} */

#animals {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

#dropZone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
}

#dropZone .heading {
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    border-bottom: 1px solid #777;
    padding-bottom: 0.5rem;
    position: absolute;
    top: 10px;
}

.drop-box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border: 1px solid #888;
    padding: 1rem;
}

.drop-box li {
    width: 100%;
    text-align: left;
    margin-top: 5px;
}

img {
    height: 200px;
    object-fit: cover;
    width: 200px;
}

.drag-and-drop {
    padding-bottom: 5rem;
}

.words-form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.words-form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.words-form button {
    background: #3b82f6;
    color: #fff;
    border-radius: 1rem;
    padding: 0.7rem 1.5rem;
}

#draggableItemsList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    list-style: none;
}

#draggableItemsList li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* SLIDER =================  */
.slider-container {
    height: 100vh;
    background-color: #cbc2b9;
    overflow: hidden;
    margin: 0;
}

.slider-container h1 {
    margin: 0;
}

.flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.slider-wrapper div {
    position: relative;
}
.slider-wrapper {
    margin-top: 3.5vw;
    margin-left: 11vw;
}
.slide-image {
    height: 24vw;
}
.slide-image img {
    width: 24vw;
    cursor: pointer;
    height: 100%;
    object-fit: cover;
}
.slide-content {
    color: #000;
    width: 30vw;
    padding: 0 10vw 3vw 4vw;
}
.slide-date {
    color: #8f6447;
    font-size: 1.1vw;
    font-weight: 400;
    letter-spacing: 0.1vw;
    padding-bottom: 1.4vw;
}
.slide-title {
    font-weight: 500;
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
    line-height: 1.55vw;
    padding-bottom: 1.8vw;
}
.slide-text {
    font-size: 1vw;
    opacity: 0.8;
    padding-bottom: 4vw;
}
.slide-more {
    font-weight: 400;
    letter-spacing: 0.1vw;
    float: left;
    font-size: 0.9vw;
    color: #000;
    text-decoration: none;
}
.slide-bullet {
    width: 0.5vw;
    height: 0.5vw;
    background-color: #0b8bcc;
    border-radius: 200%;
    position: relative;
    margin-left: 1.2vw;
}
.slide-nav {
    margin-left: 64vw;
    margin-top: -5.5vw;
}

div.overlay-blue {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 0.5s ease all;
}
div.overlay-blue:hover {
    background-color: rgba(13, 27, 43, 0.5);
}

.arrows {
    width: 3.5vw;
    margin-left: 72vw;
    position: relative;
}
.arrow {
    display: inline-block;
    position: absolute;
    width: 1.2vw;
    height: 1.2vw;
    background: transparent;
    text-indent: -9999px;
    border-top: 0.15vw solid #444;
    border-left: 0.15vw solid #444;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    color: transparent;
}
.arrow:hover {
    border-color: #000;
    border-width: 0.25vw;
}
.arrow:before {
    display: block;
    height: 200%;
    width: 200%;
    margin-left: -50%;
    margin-top: -50%;
    content: "";
    transform: rotate(45deg);
}
.arrow.prev {
    transform: rotate(-45deg);
    left: 0;
}
.arrow.next {
    transform: rotate(135deg);
    right: 0;
}
