@import "./base.css";

:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.expense-tracker {
    padding: 50px 100px;
}

.expense-tracker h1 {
    margin: 0;
    text-transform: lowercase;

    text-transform: capitalize;
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

#balance {
    font-size: 35px;
    font-weight: bold;
}

.upper {
    display: flex;
    gap: 4rem;
}

.tracker {
    width: 50%;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

/* ! GRAPH =============== */

.graph .heading {
    text-align: center;
    margin-bottom: 2rem;
}

.heading {
    font-size: 30px;
}

.inc-exp-container {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.inc-exp-container > div {
    flex: 1;
    text-align: center;
}

.inc-exp-container > div:first-of-type {
    border-right: 1px solid #dedede;
}

.money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
}

.money.plus {
    color: #2ecc71;
}

.money.minus {
    color: #c0392b;
}

label {
    display: inline-block;
    margin: 10px 0;
}

input[type="text"],
input[type="number"] {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.actions {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.add-btn,
.predict-btn {
    cursor: pointer;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 15px 20px;
    width: 100%;
    background-color: #71a4b0;
    transition: all 0.25s ease-in-out;
}

.add-btn:hover .predict-btn:hover {
    filter: brightness(0.8);
}

.btn:focus,
.delete-btn:focus {
    outline: 0;
}

.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

.list li.plus {
    border-right: 5px solid #2ecc71;
}

.list li.minus {
    border-right: 5px solid #c0392b;
}

.delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
    opacity: 1;
}

/* ! TABLE -------------------  */

.data-table {
    margin-top: 2rem;
}

.data-table tr {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.data-table td {
    word-break: break-word;
}

.data-table {
    position: relative;
}
.data-table .search {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #000;
    padding: 0.6rem 1rem;
    width: 20rem;
    font-size: 1.05rem;
}
.data-table .search svg {
    font-size: 1.5rem;
}
.data-table .search input {
    width: 100%;
    font-family: inherit;
    padding: 0.5rem 0.85rem;
    background: none;
    outline: none;
    border: none;
    font-size: inherit;
}
.data-table .pagination {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 4rem;
}
.data-table .pagination button {
    border: 1px solid #777;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}
.data-table .pagination button svg {
    font-weight: bold;
    font-size: 1.05rem;
}
.data-table .pagination button.active {
    border-color: transparent;
    color: #fff;
}
.data-table .pagination button:hover {
    color: #fff;
}
.data-table .no-result-heading {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
}
.data-table .table {
    text-align: center;
    width: 100%;
}
.data-table .table thead tr {
    border: 1px solid #d0d1d5;
}
.data-table .table tr {
    grid-template-columns: repeat(6, 1fr);
    border-radius: 1rem;
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
}
.data-table .table .status {
    padding: 0.4rem 0.8rem;
    width: fit-content;
    justify-self: center;
    text-transform: capitalize;
    color: #000;
}
.data-table .table .capitalize {
    text-transform: capitalize;
}
.data-table .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
}
.data-table .actions a,
.data-table .actions button {
    display: flex;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    filter: brightness(0.9);
}
.data-table .actions a:hover,
.data-table .actions button:hover {
    filter: brightness(1);
}
.data-table .actions svg {
    font-size: 1.5rem;
}
.data-table .actions__edit {
    color: #3e3eff;
}
.data-table .actions__del {
    color: red;
}

/* ! ============================ spinner */

/* Sliding Squares Loading Spinner
     Inspired by https://www.uplabs.com/posts/slidin-squares-loader by Vitaly Silkin 
     Implemented in CSS by Tom Adey */
.spinner-container {
    display: none;
}

.show {
    display: block;
}

.loading-spinner {
    --square: 20px;
    --offset: 24px;

    --duration: 2.4s;
    --delay: 0.2s;
    --timing-function: ease-in-out;

    --in-duration: 0.4s;
    --in-delay: 0.1s;
    --in-timing-function: ease-out;

    width: 6rem;
    height: calc(2 * var(--offset) + var(--square));

    position: relative;
}

.loading-spinner div {
    display: inline-block;
    background: #508c99;
    border: none;
    border-radius: 2px;
    width: var(--square);
    height: var(--square);
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-size: 6pt;
    color: black;
}

.loading-spinner #square1 {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
    animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
        squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loading-spinner #square2 {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
        squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loading-spinner #square3 {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
        squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}

.loading-spinner #square4 {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
        squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}

.loading-spinner #square5 {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
        squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}

@keyframes square1 {
    0% {
        left: calc(0 * var(--offset));
        top: calc(0 * var(--offset));
    }
    8.333% {
        left: calc(0 * var(--offset));
        top: calc(1 * var(--offset));
    }
    100% {
        left: calc(0 * var(--offset));
        top: calc(1 * var(--offset));
    }
}

@keyframes square2 {
    0% {
        left: calc(0 * var(--offset));
        top: calc(1 * var(--offset));
    }
    8.333% {
        left: calc(0 * var(--offset));
        top: calc(2 * var(--offset));
    }
    16.67% {
        left: calc(1 * var(--offset));
        top: calc(2 * var(--offset));
    }
    25.00% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }
    83.33% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }
    91.67% {
        left: calc(1 * var(--offset));
        top: calc(0 * var(--offset));
    }
    100% {
        left: calc(0 * var(--offset));
        top: calc(0 * var(--offset));
    }
}

@keyframes square3 {
    0%,
    100% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }
    16.67% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }
    25.00% {
        left: calc(1 * var(--offset));
        top: calc(0 * var(--offset));
    }
    33.33% {
        left: calc(2 * var(--offset));
        top: calc(0 * var(--offset));
    }
    41.67% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
    66.67% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
    75.00% {
        left: calc(2 * var(--offset));
        top: calc(2 * var(--offset));
    }
    83.33% {
        left: calc(1 * var(--offset));
        top: calc(2 * var(--offset));
    }
    91.67% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }
}

@keyframes square4 {
    0% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
    33.33% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
    41.67% {
        left: calc(2 * var(--offset));
        top: calc(2 * var(--offset));
    }
    50.00% {
        left: calc(3 * var(--offset));
        top: calc(2 * var(--offset));
    }
    58.33% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }
    100% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }
}

@keyframes square5 {
    0% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }
    50.00% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }
    58.33% {
        left: calc(3 * var(--offset));
        top: calc(0 * var(--offset));
    }
    66.67% {
        left: calc(2 * var(--offset));
        top: calc(0 * var(--offset));
    }
    75.00% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
    100% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
}

@keyframes squarefadein {
    0% {
        transform: scale(0.75);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* ! current data */

.current-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
}

.current-data .control {
    font-weight: 500;
}

.current-data .control__label {
    font-size: 1.15rem;
}
.current-data .control__label .small {
    display: inline;
    font-size: 0.9rem;
    font-weight: 400;
}

.current-data .control__value {
    background: rgba(0, 0, 0, 0.1);
    border-left: 5px solid #71a4b0;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    padding: 0.7rem;
}
