@import "./base.css";

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 15px 10px;
    box-shadow: 0px -2px 12px rgba(0, 0, 0, 0.1);
}

.bottom__container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress {
    width: 40%;
    height: 10px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ecedf5;
}
.progress__inner {
    position: absolute;
    top: 0;
    border-radius: 5px;
    height: 100%;
    left: 0;
    width: 0%;
    background-color: #5861af;
    transition: 0.4s width linear;
}

.navigation__btn path {
    fill: #a7aacb;
}
.navigation {
    display: flex;
    align-items: center;
}

.navigation__btn {
    display: flex;
    align-items: center;
    width: 44px;
    border: 1px solid #a7aacb;
    justify-content: center;
    height: 44px;
}

.navigation__btn--left {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.navigation__btn--right {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.quiz__question {
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.container {
    position: relative;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    margin-top: 50px;
}

.vid-container {
    margin-top: 30px;
    width: 60%;
}

.vid-container video {
    width: 100%;
}

.quiz {
    position: relative;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sheet {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
}

.answer:first-of-type {
    margin-right: 15px;
}
.answer__input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 1px;
    height: 1px;
    position: absolute;
    outline: none !important;
}

.answer__label {
    border: 1px solid #a7aacb;
    display: flex;
    border-radius: 6px;
    font-size: 15px;
    color: #a7aacb;
    text-align: left;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.answer {
    display: inline-block;
    margin-right: 10px;
}

.quiz__step {
    text-align: center;
}

.answer__input:checked + .answer__label {
    border-color: #5861af;
    color: #14152c;
    box-shadow: 0px 0px 1px 4px rgba(88, 97, 175, 0.2);
}

.answer__input:checked + .answer__label .answer__tick {
    opacity: 1;
    visibility: visible;
}

.answer__char {
    line-height: 24px;
    display: inline-block;
    width: 26px;
    text-align: center;
    font-size: 13px;
    border-radius: 4px;
    color: #c8cae0;
    border: 1px solid #c8cae0;
    font-weight: 600;
    vertical-align: middle;
    margin-right: 15px;
}
.answer__tick {
    display: inline-block;
    vertical-align: middle;
    background-color: #5861af;
    margin-left: 20px;
    line-height: 14px;
    border-radius: 50%;
    padding: 4px;
    opacity: 0;
    visibility: hidden;
}

.answer__tick path {
    fill: #fff;
}
.quiz__inner {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quiz__step:not(.quiz__step--current) {
    visibility: hidden;
    opacity: 0;
    display: none;
}
.question__emoji {
    font-size: 45px;
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 15px;
}
.navigation__btn--disabled {
    opacity: 0.4;
}
.submit__container {
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}
.submit {
    cursor: pointer;
    border: none;
    background-color: #5861af;
    line-height: 50px;
    display: inline-block;
    border-radius: 25px;
    padding: 5px 30px;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    box-shadow: 0px 6px 11px rgba(88, 97, 175, 0.6);
    min-width: 130px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.thanks__tick {
    line-height: 50px;
    width: 50px;
    font-size: 25px;
    color: #fff;
    background-color: #5861af;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}
.thanks__title {
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 15px;
    text-align: center;
    font-size: 40px;
}
.thanks {
    text-align: center;
}

.answers {
    display: flex;
    gap: 2rem;
}
.answers .answer__label {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#result {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    position: relative;
}
