.heading-primary {
    font-family: "Bebas Neue", cursive;
    font-size: 100px;

    color: #fff;
    font-weight: lighter;
}

.cursive {
    font-family: "Satisfy", cursive;
}

/* ! MAIN BTN */

.btn {
    font-family: "Shadows Into Light", cursive;
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 1;
    font-size: 30px;
    margin-bottom: 0;
    text-decoration: none;
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: #333;
    padding-bottom: 0.5rem;
    transition: all 0.25s ease-in-out;
}

.btn:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 7px;
    width: 100%;
    border: solid 3px #c67a82;
    border-color: #83353d transparent transparent transparent;
    border-radius: 30%;
}

.btn:hover {
    color: #000;
    border-color: #000;
}

.btn.white {
    color: #fff !important;
}
.btn.white::after {
    border-color: #508c99 transparent transparent transparent;
}
/* .btn-container {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.btn {
    font-family: "Poiret One", cursive;
    letter-spacing: 1px;
    z-index: 9;
    background-color: transparent;
    border: 1px solid #91654a;
    box-sizing: border-box;
    color: #fff;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover,
.btn:active {
    outline: 0;
}

.btn:hover {
    background-color: transparent;
    cursor: pointer;
}

.btn:before {
    background-color: #91654a;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    width: 100%;
    z-index: -1;
    transition: filter 300ms ease-in;
}

.btn:hover:before {
    filter: brightness(0.88);
}

@media (min-width: 768px) {
    .btn {
        padding: 16px 32px;
    }
} */
