<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />

        <link rel="stylesheet" href="../static/styles/auth.css" />
        <title>Landing Page</title>
    </head>

    <body>
        <form class="loginModal">
            <h1>LOGIN</h1>
            <hr />
            <div class="input">
                <label>Username</label>
                <div class="input-group mb-3">
                    <span class="input-group-text primary">@</span>
                    <input
                        type="text"
                        class="form-control"
                        aria-label="Username"
                        aria-describedby="basic-addon1"
                        required
                    />
                </div>
                <div class="input">
                    <label>Password</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text primary">#</span>
                        <input
                            type="password"
                            class="form-control"
                            aria-label="Username"
                            aria-describedby="basic-addon1"
                            required
                        />
                    </div>
                </div>
                <div>
                    <a href="landing" id="log-in-btn" type="submit" class="submit-btn">Sign in</a>
                </div>
            </div>
        </form>
    </body>
</html>
