<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>QUIZ</title>

        <script defer src="../static/scripts/quiz.js"></script>
        <link rel="stylesheet" href="../static/styles/quiz.css" />
    </head>

    <body>
        <div id="quiz" class="quiz">
            <div class="vid-container">
                <video controls>
                    <source src="../static/images/vid.mp4" type="video/mp4" />
                    <source src="../static/images/vid.ogg" type="video/ogg" />
                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="sheet">
                <div class="question__emoji">💸</div>
                <div class="quiz__question" id="question"></div>
                <div class="answers">
                    <label class="answer__label option"
                        ><input type="radio" name="option" value="1" /><span id="option1"></span
                    ></label>
                    <label class="answer__label option"
                        ><input type="radio" name="option" value="2" /><span id="option2"></span
                    ></label>
                    <label class="answer__label option"
                        ><input type="radio" name="option" value="3" /><span id="option3"></span
                    ></label>
                    <label class="answer__label option"
                        ><input type="radio" name="option" value="4" /><span id="option4"></span
                    ></label>
                </div>
                <button class="submit" id="next" onclick="nextques();">NEXT QUESTION</button>
                {% comment %} <button id="quit" onclick="quit();">Quit</button> {% endcomment %}
            </div>

            <a href="wish_list" class="btn"> Next </a>
        </div>
        <div id="result" style="display: none"></div>
    </body>
</html>
