<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script defer src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script
            defer
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"
        ></script>
        <script defer src="../static/main.js"></script>
        <link rel="stylesheet" href="../static/styles/slider.css" />
    </head>
    <body>
        <section class="slider-container">
            <h1 class="heading-primary">wise up</h1>

            <div class="slider">
                <div class="slider-wrapper flex">
                    <div class="slide flex">
                        <div class="slide-image slider-link prev">
                            <img
                                src="https://images.pexels.com/photos/5320332/pexels-photo-5320332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            />
                            <div class="overlay"></div>
                        </div>
                        <div class="slide-content">
                            <div class="slide-date">30.07.2017.</div>
                            <div class="slide-title">Needs vs Wants</div>
                            <div class="slide-text">
                                Lorem ipsum dolor sit amet, ad est abhorreant efficiantur, vero
                                oporteat apeirian in vel. Et appareat electram appellantur est. Ei
                                nec duis invenire. Cu mel ipsum laoreet, per rebum omittam ex.
                            </div>
                            <a href="needs_and_wants" class="slide-more">LEARN MORE</a>
                        </div>
                    </div>
                    {% comment %}
                    <div class="slide flex">
                        <div class="slide-image slider-link next">
                            <img
                                src="https://images.pexels.com/photos/2009968/pexels-photo-2009968.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            />
                            <div class="overlay"></div>
                        </div>
                        <div class="slide-content">
                            <div class="slide-date">30.08.2017.</div>
                            <div class="slide-title">Quiz</div>
                            <div class="slide-text">
                                Lorem ipsum dolor sit amet, ad est abhorreant efficiantur, vero
                                oporteat apeirian in vel. Et appareat electram appellantur est. Ei
                                nec duis invenire. Cu mel ipsum laoreet, per rebum omittam ex.
                            </div>
                            <a href="quiz" class="slide-more">LEARN MORE</a>
                        </div>
                    </div>
                    {% endcomment %} {% comment %}
                    <div class="slide flex">
                        <div class="slide-image slider-link next">
                            <img
                                src="https://images.pexels.com/photos/1274260/pexels-photo-1274260.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            />
                            <div class="overlay"></div>
                        </div>
                        <div class="slide-content">
                            <div class="slide-date">30.09.2017.</div>
                            <div class="slide-title">Dreams Manifestation</div>
                            <div class="slide-text">
                                Lorem ipsum dolor sit amet, ad est abhorreant efficiantur, vero
                                oporteat apeirian in vel. Et appareat electram appellantur est. Ei
                                nec duis invenire. Cu mel ipsum laoreet, per rebum omittam ex.
                            </div>
                            <a href="wish_list" class="slide-more">LEARN MORE</a>
                        </div>
                    </div>
                    {% endcomment %}
                    <div class="slide flex">
                        <div class="slide-image slider-link next">
                            <img
                                src="https://images.pexels.com/photos/6328858/pexels-photo-6328858.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            />
                            <div class="overlay"></div>
                        </div>
                        <div class="slide-content">
                            <div class="slide-date">30.10.2017.</div>
                            <div class="slide-title">Expenses Tracker</div>
                            <div class="slide-text">
                                Lorem ipsum dolor sit amet, ad est abhorreant efficiantur, vero
                                oporteat apeirian in vel. Et appareat electram appellantur est. Ei
                                nec duis invenire. Cu mel ipsum laoreet, per rebum omittam ex.
                            </div>
                            <a href="expense_tracker" class="slide-more">LEARN MORE</a>
                        </div>
                    </div>
                </div>
                <div class="arrows">
                    <a href="#" title="Previous" class="arrow slider-link prev"></a>
                    <a href="#" title="Next" class="arrow slider-link next"></a>
                </div>
            </div>
        </section>
    </body>
</html>
