<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />

        <link rel="stylesheet" href="../static/index.css" />

        <title>Landing Page</title>
    </head>

    <body>
        <section id="wish-list" class="wish-list container">
            <div class="first-intro">
                <div class="intro-fill">
                    <span class="tf-user-welcome welcome-1"
                        >We can’t have everything we want all at once,</span
                    >
                    <span class="tf-user-welcome welcome-2"
                        >but we can achieve our goals over time if we plan ahead.</span
                    >
                    <span class="tf-user-welcome welcome-3">Let's make a wish list!</span>
                </div>
            </div>
        </section>
    </body>
</html>
